@import url(css/sidebar.css);
@import url(css/conteudo.css);

@font-face {
    font-family: 'Inter';
    src: url(font/Inter-VariableFont_opsz\,wght.ttf);
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*{
    font-family: 'Inter';
    text-decoration: none;
    font-weight: 400;
    color: black;
}